<div class="personal-footer"> 
    <div class="footer-element"><p>© <%= new Date().getFullYear() %> Axel Mund. All rights reserved.</p></div>  
    <div class="footer-element">   
      <a href="http://www.facebook.com"><img class="footer-icon" src="images/facebook.png" alt=""></a>
      <a href="https://www.udemy.com/user/axel-mund/"><img class="footer-icon" src="images/udemy.png" alt=""></a> 
      <a href="http://www.instagram.com"><img class="footer-icon" src="images/instagram.png" alt=""></a>
      <a href="https://leander2017.github.io/css-2nd-capstone/"><img class="footer-icon" src="images/github.png" alt=""></a>
    </div>
    <div class="footer-element"><p>Made with ☕ in Berlin.</p></div>
  </div>